h1, h2, h3, h4, ul, ol, p button {
    font-family: 'Arial', serif;
}

h1, h2, h3{
    align-self: center;
    text-align: center;
}


body {
    background: linear-gradient(rgba(0, 232, 255, 1 ), rgba(0, 255, 152, 1));
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    height: 100vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.rounded-button {
    padding: 10px 20px;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    color: #000;
    border-radius: 20px;
    background-color: aliceblue;
    border: none;
    outline: none;
}

#welcome{
    padding-top: 10vh;
}

#start{
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
}