h1, h2, button {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
}

body {
    background: linear-gradient(rgba(0, 232, 255, 0.3), rgba(0,255,152,0.47));
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    color: #000;
    border-radius: 20px;
    background-color: aliceblue;
    border: none;
    outline: none;
}






