.answer, #question {
    align-self: center;
    font-family: 'Arial', serif;
}

h3 {
    font-size: 2em;
    font-weight: bold;
    color: black
}

li {
    font-size: 1.2em;
    color: black;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}


#stopwatch {
    font-size: 1.1em;
}


#question {
    font-size: 1.5em;
    font-weight: bold;
    align-self: center;
    text-align: center;
    margin: 20px;
    color: black;
}


#options {
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#fitting-box{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}


#selectors, #centered-indicator {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
}

.answer {
    position: absolute;
    width: 5%;
    height: 5%;
}


#centered-indicator {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#centered-circle {
    background: rgba(256, 256, 256, 0.4);
    border-radius: 20px;
    height: 5%;
    width: 5%;
}

#labels {
    height: 100%;
    width: 80%;
    padding-left: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media (orientation: portrait) {

    /* Width < height -> width as reference*/
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    #answers {
        position: relative;
        box-sizing: border-box;
        padding: 5vw;
        width: 100vw;
        height: 100vw;
    }

    .answer.top {
        margin-left: 2.5vw;
        border-top: 40vw solid rgba(256, 256, 256, 0.4);
        border-right: 40vw solid transparent;
        border-bottom: 40vw solid transparent;
        border-left: 40vw solid transparent;
    }

    .answer.top.selected {
        border-top: 40vw solid rgba(256, 256, 256, 1);
    }

    .answer.right {
        margin-left: 5vw;
        margin-top: 2.5vw;
        border-top: 40vw solid transparent;
        border-right: 40vw solid rgba(256, 256, 256, 0.4);
        border-bottom: 40vw solid transparent;
        border-left: 40vw solid transparent;
    }

    .answer.right.selected {
        border-right: 40vw solid rgba(256, 256, 256, 1);
    }

    .answer.bottom {
        margin-left: 2.5vw;
        margin-top: 5vw;
        border-top: 40vw solid transparent;
        border-right: 40vw solid transparent;
        border-bottom: 40vw solid rgba(256, 256, 256, 0.4);
        border-left: 40vw solid transparent;
    }

    .answer.bottom.selected {
        border-bottom: 40vw solid rgba(256, 256, 256, 1);
    }

    .answer.left {
        margin-top: 2.5vw;
        border-top: 40vw solid transparent;
        border-right: 40vw solid transparent;
        border-bottom: 40vw solid transparent;
        border-left: 40vw solid rgba(256, 256, 256, 0.4);
    }


    .answer.left.selected {
        border-left: 40vw solid rgba(256, 256, 256, 1);
    }

}

@media (orientation: landscape) {


    /* Width > height -> height as reference*/
    body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }

    #first_section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #answers {
        position: relative;
        box-sizing: border-box;
        padding: 5vh;
        min-width: 100vh;
        width: 100vh;
        height: 100vh;
    }


    .answer.top {
        margin-left: 2.5vh;
        border-top: 40vh solid rgba(256, 256, 256, 0.4);
        border-right: 40vh solid transparent;
        border-bottom: 40vh solid transparent;
        border-left: 40vh solid transparent;
    }

    .answer.top.selected {
        border-top: 40vh solid rgba(256, 256, 256, 1);
    }

    .answer.right {
        margin-left: 5vh;
        margin-top: 2.5vh;
        border-top: 40vh solid transparent;
        border-right: 40vh solid rgba(256, 256, 256, 0.4);
        border-bottom: 40vh solid transparent;
        border-left: 40vh solid transparent;
    }

    .answer.right.selected {
        border-right: 40vh solid rgba(256, 256, 256, 1);
    }

    .answer.bottom {
        margin-left: 2.5vh;
        margin-top: 5vh;
        border-top: 40vh solid transparent;
        border-right: 40vh solid transparent;
        border-bottom: 40vh solid rgba(256, 256, 256, 0.4);
        border-left: 40vh solid transparent;
    }

    .answer.bottom.selected {
        border-bottom: 40vh solid rgba(256, 256, 256, 1);
    }

    .answer.left {
        margin-top: 2.5vh;
        border-top: 40vh solid transparent;
        border-right: 40vh solid transparent;
        border-bottom: 40vh solid transparent;
        border-left: 40vh solid rgba(256, 256, 256, 0.4);
    }


    .answer.left.selected {
        border-left: 40vh solid rgba(256, 256, 256, 1);
    }

}