body {
    align-items: center;
}

img {
    width: 50vw;
    height: 50vw;
}

#result-text {
    text-align: center;
    margin-top: 10vh;
}

#restart-button {
    margin-bottom: 10vh;
}

/*Direct the content as column if portrait mode and in a grid if landscape mode to order the elements in a row*/

@media (orientation: portrait) {
    img {
        width: 50vw;
        height: 50vw;
    }
}


@media (orientation: landscape) {
    body {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }

    #result-text {
        grid-column: 2;
        grid-row: 1;
        margin-right: 20px;

    }

    #medal {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    #restart-button {
        grid-column: 2;
        grid-row: 2;
        margin-right: 20px;
    }

    img {
        width: 80vh;
        height: 80vh;
    }
}