#main {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


h1 {
    margin-top: 10vh;
}

h3 {
    padding: 0 20px;
}

#introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

#category {
    margin: 20px;
}

#start-button {
    margin: 20px;
}


@media (orientation: portrait) {
    #main {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #introduction {

    }

    #start {
        padding-bottom: 5vh;
    }

    img {
        width: 80vw;
        height: 80vw;
    }
}


@media (orientation: landscape) {
    #main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #introduction {
    }

    #start {
    }

    img {
        width: 80vh;
        height: 80vh;
    }
}
