h1 {
    margin-top: 10vh;
}


img {
    width: 400px;
    height: 400px;
}

#welcome {
    padding-top: 10vh;

}

#introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

#category-selector{
    align-self: center;
}


#start {
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
}
