h1, h2, h3, p, li, #question, .answer-selector-label {
    font-family: 'Arial Black', Courier, monospace;
    align-self: center;
}


h3 {
    font-size: 2em;
    font-weight: bold;
    color: black
}


body {
    background: linear-gradient(rgba(0, 232, 255, 0.8), rgba(0, 255, 152, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#question {
    font-size: 1.5em;
    font-weight: bold;
    align-self: center;
    text-align: center;
    margin: 2vh 5vw;
    color: black;
}


#options {
    margin: 2vh 5vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

li {
    font-size: 1.2em;
    color: black;
}

#answers {
    margin: 5vh 5vw;
}

#labels {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vw;
    width: 70vw;
    margin-left: 10vw;
}


.single-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#selectors {
    position: absolute;
    width: 100vw;
    height: 100vw;
}

.answer {
    position: absolute;
    width: 5vw;
    height: 5vw;
}


.answer.top {
    margin-left: 2.5vw;
    border-top: 40vw solid rgba(256, 256, 256, 0.4);
    border-right: 40vw solid transparent;
    border-bottom: 40vw solid transparent;
    border-left: 40vw solid transparent;
}

.answer.top.selected {
    border-top: 40vw solid rgba(256, 256, 256, 1);
}

.answer.right {
    margin-left: 5vw;
    margin-top: 2.5vw;
    border-top: 40vw solid transparent;
    border-right: 40vw solid rgba(256, 256, 256, 0.4);
    border-bottom: 40vw solid transparent;
    border-left: 40vw solid transparent;
}

.answer.right.selected {
    border-right: 40vw solid rgba(256, 256, 256, 1);
}

.answer.bottom {
    margin-left: 2.5vw;
    margin-top: 5vw;
    border-top: 40vw solid transparent;
    border-right: 40vw solid transparent;
    border-bottom: 40vw solid rgba(256, 256, 256, 0.4);
    border-left: 40vw solid transparent;
}

.answer.bottom.selected {
    border-bottom: 40vw solid rgba(256, 256, 256, 1);
}

.answer.left {
    margin-top: 2.5vw;
    border-top: 40vw solid transparent;
    border-right: 40vw solid transparent;
    border-bottom: 40vw solid transparent;
    border-left: 40vw solid rgba(256, 256, 256, 0.4);
}


.answer.left.selected {
    border-left: 40vw solid rgba(256, 256, 256, 1);
}

#feedback-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
}