h1, h2, p, li, #question, .answer-selector-label {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
}

ol {
    list-style-type: lower-alpha;
}

html {
    max-height: 100vh;
}

body {
    background: linear-gradient(rgba(0, 232, 255, 0.3), rgba(0, 255, 152, 0.47));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#question {
    font-size: 2em;
    font-weight: bold;
    align-self: center;
    text-align: center;
    margin: 10px;
}

#answer-options {
    align-self: center;
    text-align: center;
}

#answer-selectors {
    position: relative;
    width: 100vw;
    height: 100vw;
    margin: 5vw 5vw 5vw 5vw;
}

.answer {
    position: absolute;
    width: 5vw;
    height: 5vw;
}


.answer.top {
    margin-left: 2.5vw;
    border-top: 40vw solid rgba(0, 0, 0, 0.2);
    border-right: 40vw solid transparent;
    border-bottom: 40vw solid transparent;
    border-left: 40vw solid transparent;
}

.answer.top.selected {
    border-top: 40vw solid rgba(0, 0, 0, 0.6);
}

.answer.right {
    margin-left: 5vw;
    margin-top: 2.5vw;
    border-top: 40vw solid transparent;
    border-right: 40vw solid rgba(0, 0, 0, 0.2);
    border-bottom: 40vw solid transparent;
    border-left: 40vw solid transparent;
}

.answer.right.selected {
    border-right: 40vw solid rgba(0, 0, 0, 0.6);
}

.answer.bottom {
    margin-left: 2.5vw;
    margin-top: 5vw;
    border-top: 40vw solid transparent;
    border-right: 40vw solid transparent;
    border-bottom: 40vw solid rgba(0, 0, 0, 0.2);
    border-left: 40vw solid transparent;
}

.answer.bottom.selected {
    border-bottom: 40vw solid rgba(0, 0, 0, 0.6);
}

.answer.left {
    margin-top: 2.5vw;
    border-top: 40vw solid transparent;
    border-right: 40vw solid transparent;
    border-bottom: 40vw solid transparent;
    border-left: 40vw solid rgba(0, 0, 0, 0.2);
}


.answer.left.selected {
    border-left: 40vw solid rgba(0, 0, 0, 0.6);
}
